In [87]:
import pandas as pd
import matplotlib.pyplot as plt
# df = pd.read_csv('data/All_SAV_Parameters-2023-Jun-05.txt', sep='|')
df = pd.read_csv('static/data/All_Oyster_Parameters-2023-Jun-05.txt', sep='|')

C:\Users\Hill_T\AppData\Local\Temp\ipykernel_18692\3694286185.py:4: DtypeWarning: Columns (12,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('static/data/All_Oyster_Parameters-2023-Jun-05.txt', sep='|')

In [140]:
df.SampleDate = pd.to_datetime(df.SampleDate)

In [89]:
df.head()

,RowID,ProgramID,ProgramName,ParameterName,LocationID,ProgramLocationID,ManagedAreaName,Region,SampleDate,Year,...,ReefIdentifier,LiveDate,LiveDate_Qualifier,LiveDate_MinEstDate,LiveDate_MaxEstDate,SampleAge_Stdev,UniversalReefID,MADup,DataFileName,AreaID
0,1,5017,Northern Coastal Basins and Mosquito Lagoon Oy...,Shell Height,864533,MLC21,Mosquito Lagoon Aquatic Preserve,NE,2015-06-03 00:00:00.000,2015,...,MLC21,2015-06-03 00:00:00.0000000,Exact,NaN,NaN,NaN,173590.0,1,Data_5017F_Final.csv,29
1,2,5017,Northern Coastal Basins and Mosquito Lagoon Oy...,Shell Height,864533,MLC21,Mosquito Lagoon Aquatic Preserve,NE,2015-06-03 00:00:00.000,2015,...,MLC21,2015-06-03 00:00:00.0000000,Exact,NaN,NaN,NaN,173590.0,1,Data_5017F_Final.csv,29
2,3,5017,Northern Coastal Basins and Mosquito Lagoon Oy...,Shell Height,864533,MLC21,Mosquito Lagoon Aquatic Preserve,NE,2015-06-03 00:00:00.000,2015,...,MLC21,2015-06-03 00:00:00.0000000,Exact,NaN,NaN,NaN,173590.0,1,Data_5017F_Final.csv,29
3,4,5017,Northern Coastal Basins and Mosquito Lagoon Oy...,Shell Height,864533,MLC21,Mosquito Lagoon Aquatic Preserve,NE,2015-06-03 00:00:00.000,2015,...,MLC21,2015-06-03 00:00:00.0000000,Exact,NaN,NaN,NaN,173590.0,1,Data_5017F_Final.csv,29
4,5,5017,Northern Coastal Basins and Mosquito Lagoon Oy...,Shell Height,864533,MLC21,Mosquito Lagoon Aquatic Preserve,NE,2015-06-03 00:00:00.000,2015,...,MLC21,2015-06-03 00:00:00.0000000,Exact,NaN,NaN,NaN,173590.0,1,Data_5017F_Final.csv,29

In [90]:
# Number of data providers
data_providers = len(df.ManagedAreaName.unique())
print(data_providers)

20

In [175]:
#Programs containing PercentLive data
percent_live_programs = df[df.ParameterName=='Percent Live'].ProgramName.unique()
n_percent_live_programs = len(percent_live_programs)

#Programs containing Density data
density_programs = df[df.ParameterName=='Density'].ProgramName.unique()
n_density_programs = len(density_programs)

In [91]:
programs = df.ProgramName.unique()
parameters = df.ParameterName.unique()

In [96]:
def get_plot(pID, parameter, start_year, end_year):
    try:
        data = df[(df.ProgramID==pID)&(df.ParameterName==parameter)]
        data_years = data[(data.Year>=start_year)&(data.Year<=end_year)]
    except:
        pass
    return data_years

In [154]:
new = get_plot(5017, 'Shell Height', 2015, 2018)

12